@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextaccessor
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Easy Chef</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="on" http-equiv="cleartype">
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Easy Chef" name="Easy Chef">
    <meta property="og:url" content="http://www.easychef.xyz/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Easy Chef: Cooking made easy" />
    <meta property="og:description" content="This will contain description of Easy chef" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Muli:300,400,600,700" media="all">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <environment include="Development,Staging">
        <link rel="stylesheet" href="~/css/sticky-footer.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/Common.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/Media.css" asp-append-version="true">
        <script src="~/js/main.js" asp-append-version="true"></script>
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/css/sticky-footer.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/Common.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/Media.css" asp-append-version="true">
        <script src="~/js/main.min.js" asp-append-version="true"></script>
    </environment>


</head>
<body class="">
    <!--Fb script load-->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=781700632030128';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '781700632030128',
                cookie: true,
                xfbml: true,
                version: 'v2.12'
            });
            $('#fb-root').trigger('facebook:init');
        };
    </script>
    <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="/"><img class="img-fluid" src="~/images/Easy_Chef_Logo.png" alt="Easy Chef" /></a>
        
        <div class="collapse navbar-collapse dual-collapse2 w-100">
            <ul id="menu-main-menu" class="navbar-nav nav mr-auto ">
                
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul id="rightnav" class="navbar-nav ml-auto">
            </ul>
        </div>
    </nav>

    <div class="content">
        @RenderBody()
    </div>
    <footer class="footer hide">
        <div class="container-fluid">
            <div class="row">
                <!----
                 <div class="col-sm-1 footerlogo">
                     <div class="row">
                         <img class="img-fluid" src="~/images/Easy_Chef_Logo.png" alt="Easy Chef" />
                     </div>
                 </div>
                    ----->
                <div class="col-sm-12 footerlinks">
                    <div class="row">
                        <div class="col-sm-2">

                        </div>
                        <div class="col-sm-4">
                            <ul>
                                <li><a href="/menu">Our Menu</a></li>
                                <li><a href="/#howitworks">How it Works</a></li>
                                <li><a href="/about">About Easy Chef</a></li>
                            </ul>
                        </div>


                        <div class="col-sm-4">
                            <ul>
                                <li><a href="/contact">Contact Us</a></li>
                                <li><a href="/policy">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <span class="text-muted mx-auto" style="text-align:center;">&copy;@DateTime.Now.Year Easy Chef. Designed and Developed by Team#04 for ISTM 631 601</span>
            </div>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            $("#fb-root").bind("facebook:init", function () {
                //  EasyChef.Facebook.init();
            });
        });
    </script>
</body>
</html>
