<div class="container aboutus">
    <h2 class="h--serif --marginbottom8 text-center">About Us</h2>
    <div class="row">
        <div class="col-md-2">
            <img src="~/images/Easy_Chef_Logo.png" style="height:200px;" class="img-fluid" alt="Chef Chifu" />
        </div>
        <div class="col-md-10">
            <p class="text-justify">
                Easy Chef is characterized as a welcoming and people friendly service. It is personified by our mascot, Chef Chifu (pronounced as /SHēfoo/). It is a petite penguin, that flaunts an elegant bow. Its baby face conveys a sense of honesty and its bow-tie stands for the sophistication within our company. Chef Chifu is always ready to lend a helping hand to anyone in need by sharing the chef wisdom he has acquired over the ages.
                Penguins are often identified as the most social beings of the animal kingdom. They always move in groups, helping each other through tasks.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="text-justify">
                Chef Chifu, the social penguin, loves to interact with users with a cordial tone, making them feel comfortable, as they browse through the website. Chef Chifu is concerned about the environment as his fellow penguin mates are at threat to become extinct, with upcoming climate changes. He wants to reduce the carbon footprint of the world and make it a better place for everyone, by reducing food wastage. As a caregiver, he also aspires to offer healthier food options to people.
            </p>
        </div>
    </div>
</div>



<script>
    //for setting nav active
    EasyChef.Utility.setNavActive("aboutnav");
</script>

