<div class="container --margintop16">
    <table id="cart" class="table table-hover table-condensed hide">
        <thead>
            <tr>
                <th>Recipe</th>
                <th>Price</th>
                <th width="10%">Quantity</th>
                <th class="text-center">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr style="border-bottom:1px solid #dee2e6;">
                <td colspan="2"></td>
                <td style="text-align:center;"><strong>Total</strong></td>
                <td class="text-center"><strong class="carttotal">$1.99</strong></td>
                <td></td>
            </tr>
            <tr>
                <td><a href="#" onclick="window.history.back()" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                <td class="d-none"></td>
                <td class="d-none text-center"><strong class="carttotal">Total $1.99</strong></td>
                <td class="hide-sm"></td>
                <td class="hide-sm"></td>
                <td colspan="2"><a href="/checkouttype" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
            </tr>
        </tfoot>
    </table>
</div>
<script>
    $(function () {
        if (EasyChef.Utility.readCookie("Cart") != null)
            EasyChef.Cart.generateCartView();
    });
</script>
