
<section class="shopping_cart_page">
    <div class="container">
        <div class="row --marginbottom16">
            <div class="col-lg-12 col-md-12 --margintop16">
                <div class="checkout-step mb-40">
                    <ul>
                        <li class="active">
                            <a href="/checkout">
                                <div class="step">
                                    <div class="line"></div>
                                    <div class="circle">1</div>
                                </div>
                                <span>Shipping</span>
                            </a>
                        </li>
                        <li>
                            <a href="/orderreview">
                                <div class="step">
                                    <div class="line"></div>
                                    <div class="circle">2</div>
                                </div>
                                <span>Order Overview</span>
                            </a>
                        </li>
                        <li>
                            <a href="/payment">
                                <div class="step">
                                    <div class="line"></div>
                                    <div class="circle">3</div>
                                </div>
                                <span>Payment</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ordercomplete">
                                <div class="step">
                                    <div class="line"></div>
                                    <div class="circle">4</div>
                                </div>
                                <span>Order Complete</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 mx-auto">
                <div class="widget">
                    <div class="section-header section-header-center text-center">
                        <h3 class="heading-design-center-h3">
                            Please fill up your Shipping details
                        </h3>
                    </div>
                    <div class="heading-part">
                        <h3 class="sub-heading">Shipping Address</h3>
                    </div>
                    <hr>
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">First Name <span class="required">*</span></label>
                                    <input class="form-control border-form-control" value="" placeholder="Enter your name" type="text">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Last Name <span class="required">*</span></label>
                                    <input class="form-control border-form-control" value="" placeholder="Enter your last name" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Phone <span class="required">*</span></label>
                                    <input class="form-control border-form-control" value="" placeholder="123 456 7890" type="number">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Email Address <span class="required">*</span></label>
                                    <input class="form-control border-form-control " value="" placeholder="Enter your email address" disabled="" type="email">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Shipping Address <span class="required">*</span></label>
                                    <textarea class="form-control border-form-control" placeholder="Enter street address"></textarea>
                                    @*<small class="text-danger">Please provide the number and street.</small>*@
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="d-flex">
                                    <a href="/cart" class="btn btn-success"><i class="fa fa-angle-left"></i> Back</a>
                                    <a href="/orderreview" class="btn btn-success ml-auto ">Next <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>