@{
    ViewData["Title"] = "Contact";
}

<div class="container">
    <h2 class="h--serif --marginbottom8 text-center">Contact Us</h2>
    <p>
        We love to hear from you, Please reach out to us at: <a href="mailto:team4istm631@gmail.com">team4istm631@gmail.com</a>
    </p>
    <p>
        Our awesome team includes:
        <ul class="list-group list-group-flush --margintop8">
            <li class="list-group-item">Divyansh Chaudhary</li>
            <li class="list-group-item">Saurabh Bhalla</li>
            <li class="list-group-item">Parvez Rafi</li>
            <li class="list-group-item">Satvir Singh Grewal</li>
            <li class="list-group-item">Naman Varshney</li>
        </ul>
    </p>
</div>

