@{
    ViewData["Title"] = "Contact";
}

<div class="container --margintop16">
    <h2 class="h--serif --marginbottom8 text-center">Contact Us</h2>
    <p>
        The team can be reached at: <a href="mailto:team4istm631@gmail.com">team4istm631@gmail.com</a>
    </p>
    <p>
        Our awesome team includes:
        <ul>
            <li>Divyansh Chaudhary</li>
            <li>Saurabh Bhalla</li>
            <li>Parvez Rafi</li>
            <li>Satvir Singh Grewal</li>
            <li>Naman Varshney</li>
        </ul>
    </p>
</div>

