@{
    ViewData["Title"] = "Home Page";
}

<section id="billboard" class="container-fluid">
    <div class="box">
        <div class="max1100">
            <div id="homeoverlay">
                <h1 class="mainheading">Home cooking</h1>
                <span class="mainheading" style="padding-left:10px;">made simple</span>
                <h2 id="headingbottom">
                    Home Chef delivers everything you need to bring more delicious meals and moments to the table. Every day.
                </h2>
                <a class="btn btn-danger" href="/menu">Show Meal</a>
            </div>
        </div>
    </div>
</section>
@*<section class="max1100" style="padding:80px 0">*@
<section class="container">
    <div class="row justify-content-center">
        <h1 style="margin-bottom:48px;">How it works</h1>
    </div>
    <div id="howitwork">
        <div class="row">
            <div class="col-sm-3 ">
                <img src="~/images/Join_Mobile.gif" />
                <h3 class="howitworksheading">Join</h3>
                <p>Once you sign up, you can customize your delivery dates and easily skip weeks within your account.</p>
            </div>
            <div class="col-sm-3">
                <img src="~/images/Select_Recipe.gif" />
                <h3 class="howitworksheading">Select</h3>
                <p>Meals rotate weekly and you can mix and match to fit your preference.</p>
            </div>
            <div class="col-sm-3">
                <img src="~/images/Receive_Recipe.gif" />
                <h3 class="howitworksheading">Receive</h3>
                <p>Easy-to-follow recipe cards and fresh, pre-portioned ingredients, delivered directly to you.</p>
            </div>
            <div class="col-sm-3">
                <img src="~/images/Cook_Recipe.gif" />
                <h3 class="howitworksheading">Cook</h3>
                <p>Effortlessly create and plate delicious meals in about 30 minutes.</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center --padding32topbottom">
       
            <a class="btn btn-danger" href="/login">Get Started</a>
       
    </div>
</section>
