@{
    ViewData["Title"] = "Home Page";
}

<section id="billboard" class="container-fluid">
    <div class="box">
        <div class="max1100">
            <div id="homeoverlay">
                <h1 class="mainheading">Easy Chef</h1>
                <h2 id="headingbottom">
                    Hey there! Easy Chef delivers all you need to become a Master Chef. So <i>lettuce</i> cook something good today!
                </h2>

                <div class="homegetstarted">
                    <a class="btn btn-danger" href="/menu">Check out our menu</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container" id="howitworks">
    <div class="row justify-content-center">
        <h1 style="margin-bottom:48px;">How it works</h1>
    </div>
    <div id="howitwork">
        <div class="row">
            <div class="col-sm-3 ">
                <img src="~/images/Join_Mobile.png" />
                <h3 class="howitworksheading">Login to our kitchen</h3>
                <p>You are one in a melon! Login and join our kitchen using Facebook. It's as simple as that.</p>
            </div>
            <div class="col-sm-3">
                <img src="~/images/Select_Menu.jpg" />
                <h3 class="howitworksheading">Pick the meal</h3>
                <p>
                    Pick one of the meals from our menu and get one step closer to become a <i>Master Chef</i>.
                </p>
            </div>
            <div class="col-sm-3">
                <img src="~/images/box.png" />
                <h3 class="howitworksheading">Receive the ingredients</h3>
                <p>You will receive a curated box of fresh ingredients and easy to follow instructions.</p>
            </div>
            <div class="col-sm-3">
                <img src="~/images/plate.png" />
                <h3 class="howitworksheading">Cook and relish</h3>
                <p>Cook with ease and serve to please!</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center --padding32topbottom">

        <a class="btn btn-danger" href="/login">Get Started</a>

    </div>
    
    <script>
        //for setting nav active
        EasyChef.Utility.setNavActive("homenav");
    </script>
</section>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            EasyChef.Utility.funnyMessage(EasyChef.ChifuMessages.greetingDictionary);
        }, 4000);
    });
</script>
