@model IEnumerable<Easy_Chef.Models.DB.Recipe>
<div class="--margintop16">
    <div class="container">
        <div class="row">
            @{
                foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <a href="/menu/Recipes/@Html.DisplayFor(modelItem=>item.RecipeId)">
                                <img class="card-img-top img-fluid" src="~/images/recipe/@Html.DisplayFor(modelItem=>item.Image1)" />
                                <div class="card-body text--body">
                                    <h2 class="card-title h--serif text--body">@Html.DisplayFor(modelItem => item.RecipeName)</h2>
                                    <p class="card-text">@Html.DisplayFor(modelItem => item.ShortDescription)</p>
                                </div>
                            </a>
                        </div>
                    </div>

                }
            }

        </div>
    </div>
    <script>
        //for setting nav active
        EasyChef.Utility.setNavActive("menunav");
    </script>
</div>