<div class="--margintop16">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <a href="/menu/Recipes/2">
                        <img class="card-img-top img-fluid" src="~/images/recipe/1.jpg" />
                        <div class="card-body text--body">
                            <h2 class="card-title h--serif text--body">Card title</h2>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </a>
                    @*<div class="icon ">
                            <svg id="vegetarian-circle" class="dietary-tag" viewBox="0 0 100 100">
                                <title>Vegetarian icon</title>
                                <path class="dietary-tag__border" d="M48.35,96.7A48.35,48.35,0,1,1,96.7,48.35,48.35,48.35,0,0,1,48.35,96.7Zm0-94.84A46.49,46.49,0,1,0,94.84,48.35h0A46.54,46.54,0,0,0,48.35,1.86Z"></path>
                                <path class="dietary-tag__leaf" d="M72.38,22.61c-18.16,13.11-32,8-45.18,21.18C12.86,58.2,24,70.59,24,70.59,34,50.13,59,44.08,59,44.08s-23.2,9.08-29.69,29.54c0,0,17.84,10.23,35.59-9.08C80.8,47.24,72.38,22.61,72.38,22.61Z"></path>
                            </svg>
                        </div>*@
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <a href="/menu/recipes/2">
                        <img class="card-img-top img-fluid" src="~/images/recipe/2.jpg" />
                        <div class="card-body text--body">
                            <h2 class="card-title h--serif text--body">Card title</h2>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <a href="/menu/recipes/2">
                        <img class="card-img-top img-fluid" src="~/images/recipe/3.jpg" />
                        <div class="card-body text--body">
                            <h2 class="card-title h--serif ">Card title</h2>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <a href="/menu/recipes/2">
                        <img class="card-img-top img-fluid" src="~/images/recipe/4.jpg" />
                        <div class="card-body text--body">
                            <h2 class="card-title h--serif ">Card title</h2>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <a href="/menu/recipes/2">
                        <img class="card-img-top img-fluid" src="~/images/recipe/5.jpg" />
                        <div class="card-body text--body">
                            <h2 class="card-title h--serif ">Card title</h2>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        //for setting nav active
        EasyChef.Utility.setNavActive("menunav");
    </script>
</div>