
<div class="container --margintop16">
    <div class="row">
        <div class="alert alert-danger" role="alert">
            Chef Shifu says - "Oh no! You're not supposed to be here. This part of kitchen is closed till further notice"
        </div>
    </div>
    <div class="row">
        <div class="mx-auto">
            <a class="btn btn-warning" href="/">Ok, Take me out of here!</a>
        </div>
    </div>
</div>
