
@{
    ViewData["Title"] = "AppError";
    Layout = "~/Views/Shared/_Layout_no_nav.cshtml";
}

<div class="container --margintop16">
    <h2>App error</h2>
    <h2 class="text-danger --margintop16">Oh no, Something is not right here. Please check back later.</h2>
</div>

