@media screen and (min-width:1100px) {
}

/*For small devices*/
@media (max-width: 767px) {
    .homegetstarted {
        text-align: center !important;
    }

    .userwelcome {
        display: none
    }

    .navbar-brand img {
        width: 70px;
    }

    .loginbg:before, .loginbg .vl {
        display: none;
    }
    #addtocart{
        margin-bottom:16px;
    }
    .hide-sm{
        display:none !important;
    }
    
}
