@font-face {
    font-family: 'NexaBook';
    src: url(font/NexaBook.otf);
    font-weight: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Muli", "Helvetica Neue", Helmet, Freesans, sans-serif;
    font-weight: 300;
    line-height: 1.25;
    overflow-x: hidden;
    box-sizing: border-box;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    -webkit-font-feature-settings: "liga", "dlig" 0;
    font-feature-settings: "liga", "dlig" 0;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

strong, b {
    font-weight: 600;
}

/**, *:after, *:before {
    box-sizing: inherit;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    font-variant-ligatures: common-ligatures;
}*/

/*.content ::after {
    display: block;
    clear: both;
    content: "";
}*/

a {
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    /*background-color: transparent !important;*/
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 7px -6px #999;
    padding: 0px 8px;
    margin-bottom: 0px;
    z-index: 1000;
}

.navbar-brand, .collapse {
    padding-bottom: 0px;
}

    .navbar-brand img {
        width: 60px;
        height: auto;
    }

#menu-main-menu .active a {
    box-shadow: inset 0px -3px 0px #f2ab00;
    display: inline-block;
}

.navbar-nav > li > a {
    line-height: 20px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #fff;
}

    .nav > li > a:focus, .nav > li > a:hover {
        text-decoration: none;
        color: green;
        box-shadow: inset 0px -3px 0px #f2ab00;
        display: inline-block;
    }

.navbar-nav > li > a {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}


#menu-main-menu .active a,
.nav > li > a:focus,
.nav > li > a:hover {
    box-shadow: none;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding: 0 10px;
    }

    .navbar-nav > li > a {
        width: auto;
    }


        .navbar-nav > li > a > span {
            display: inline-block;
            padding: 15px 0;
        }

        .navbar-nav > li > a:hover > span,
        .navbar-nav > li > a:focus > span,
        .navbar-nav > .active > a > span {
            box-shadow: inset 0px -3px 0px red;
        }
}

.cart {
    padding-top: 5px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
}

    .cart.active {
        color: #d01a1a;
    }

.badge.active {
    background-color: green;
}

.icon-wrapper {
    position: relative;
    float: left;
}

.badge {
    background: rgba(0,0,0,0.5);
    width: auto;
    height: auto;
    margin: 0;
    border-radius: 30%;
    position: absolute;
    top: -1px;
    right: -6px;
    padding: 3px;
    color: #fff;
}
/*Home Page*/
#billboard {
    position: relative;
    background-position: 65% 50%;
    background-image: url(../images/mainbanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    padding: 48px;
    margin-bottom: 32px;
}

.box {
    padding: 48px;
}

.max1100 {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    width: 100%
}

#homeoverlay {
    margin-right: auto;
    max-width: 500px;
    width: 100%;
}

.mainheading {
    color: #319b42;
    margin-top: 0px;
    font-weight: 300;
    font-family: NexaBook,Rockwell, Georgia, serif;
    font-size: 64px;
}

#headingbottom {
    margin: 20px 0;
    font-weight: 300;
    font-size: 22px;
}

.showmeal {
    color: #fff;
    background-color: #d01a1a !important;
    text-transform: none;
    text-decoration: none;
    border-color: #d01a1a !important;
}

#howitwork img {
    width: 100%;
}

#howitwork .howitworksheading {
    font-size: 16px;
    margin: 24px 0;
    font-weight: 600;
    text-align: center;
}

#howitwork p {
    padding: 0 24px;
    text-align: center;
}

/*Recipe archive*/
.card {
    /*padding:0 16px 32px;*/
}

    .card a {
        text-decoration: none;
    }

.icon {
    width: 16px;
    height: 16px;
    font-size: 1.866666667em;
    max-width: 100%;
    line-height: 0;
    vertical-align: middle;
    display: inline-block;
}

.dietary-tag .dietary-tag__border {
    fill: #cccccc;
}

.dietary-tag .dietary-tag__leaf {
    fill: #cdd83f;
}

/*Recipe detail page*/


.recipedetail figure img {
    width: 100%;
}

.recipedesc {
    padding: 32px;
}

.shortdescription {
    font-size: 19px;
}

.group {
    vertical-align: baseline;
}

.chefimage figcaption {
    font-size: 14px;
}

.recipecontentheader {
    border-width: 0;
    border-bottom-width: 1px;
    margin-bottom: 16px !important;
    padding-bottom: 16px !important;
    border-color: #a9a9a9;
}

.greenbar {
    margin-bottom: 16px !important;
    border-width: 0;
    border-bottom-width: 4px;
    margin: 0 auto;
    max-width: 50px;
    width: 100%;
    float: left;
    border-color: #b7bf10;
    border-style: solid;
}

.mealnutrition li:not(:first-child)::before {
    content: "";
    border-bottom: 1px dotted #c0c2b5;
    margin: 8px;
    display: inline-block;
}

.addtocart {
    background-color: #319b42 !important;
    color: #fff;
    text-transform: none;
    text-decoration: none;
}

.recipedetail .fa {
    padding: 14px;
    /*font-size: 30px;*/
    /*width: 30px;*/
    text-align: center;
    text-decoration: none;
    /*margin: 5px 2px;*/
    border-radius: 50%;
}

.recipedetail .share li {
    padding: 2px;
}
/*Cart*/
.table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}
/*Admin pages*/
.editrecipe input:not([type=submit]), .createrecipe input:not([type=submit]) {
    margin-top: 8px;
}

.recipedetail dd, .deleterecipe dd {
    margin: 8px 0;
}

@media screen and (max-width: 600px) {
    table #cart tbody td .form-control {
        width: 20%;
        display: inline !important;
    }

    /*.actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }*/

    /*.actions .btn-info {
        float: left;
    }

    .actions .btn-danger {
        float: right;
    }*/

    table#cart thead {
        display: none;
    }

    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px;
    }

    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }

    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }



    table#cart tfoot td {
        display: block;
    }

        table#cart tfoot td .btn {
            display: block;
        }
}
/*Footer*/
.footer img {
    width: 60px;
    height: 56.5px;
}

.footer ul {
    list-style-type: none;
}

.footer .footerlinks {
    text-align: center;
}

.footer .footerlogo {
    padding: 10px 30px;
}
