@font-face {
    font-family: 'NexaBook';
    src: url(font/NexaBook.otf);
    font-weight: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Muli", "Helvetica Neue", Helmet, Freesans, sans-serif;
    font-weight: 300;
    line-height: 1.25;
    overflow-x: hidden;
    box-sizing: border-box;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    -webkit-font-feature-settings: "liga", "dlig" 0;
    font-feature-settings: "liga", "dlig" 0;
    font-smoothing: antialiased;
}


::selection {
    color: #302e21;
    background: rgba(57,191,0,0.25);
    text-shadow: none;
}

strong, b {
    font-weight: 600;
}

::placeholder {
    opacity: 0.6 !important;
}

/**, *:after, *:before {
    box-sizing: inherit;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    font-variant-ligatures: common-ligatures;
}*/

/*.content ::after {
    display: block;
    clear: both;
    content: "";
}*/

a {
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    /*background-color: transparent !important;*/
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 7px -6px #999;
    padding: 0px 8px;
    margin-bottom: 0px;
    z-index: 1000;
}

    .navbar #rightnav .userwelcome a {
        cursor: default !important;
    }

        .navbar #rightnav .userwelcome a:hover > span {
            box-shadow: none;
        }

.navbar-brand, .collapse {
    padding: 0px;
    padding-top: 3px;
}

    .navbar-brand img {
        width: 140px;
        height: auto;
    }

#menu-main-menu .active a {
    box-shadow: inset 0px -3px 0px #f2ab00;
    display: inline-block;
}

#menu-main-menu li, #rightnav li {
    margin-top: 12px;
}

.navbar-nav > li > a {
    line-height: 20px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #fff;
}

    .nav > li > a:focus, .nav > li > a:hover {
        text-decoration: none;
        color: green;
        box-shadow: inset 0px -3px 0px #f2ab00;
        display: inline-block;
    }

.navbar-nav > li > a {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}


#menu-main-menu .active a,
.nav > li > a:focus,
.nav > li > a:hover {
    box-shadow: none;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding: 0 10px;
    }

    .navbar-nav > li > a {
        width: auto;
    }


        .navbar-nav > li > a > span {
            display: inline-block;
            padding: 15px 0;
        }

        .navbar-nav > li > a:hover > span,
        .navbar-nav > li > a:focus > span,
        .navbar-nav > .active > a > span {
            box-shadow: inset 0px -3px 0px red;
        }
}

.cart {
    padding-top: 5px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
}

    .cart.active {
        color: #d01a1a;
    }

.badge.active {
    background-color: green;
}

.icon-wrapper {
    position: relative;
    float: left;
}

.badge {
    background: rgba(0,0,0,0.5);
    width: auto;
    height: auto;
    margin: 0;
    border-radius: 30%;
    position: absolute;
    top: -1px;
    right: -6px;
    padding: 3px;
    color: #fff;
}
/*Home Page*/
#billboard {
    position: relative;
    background-position: 65% 50%;
    background-image: url(../images/mainbanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    padding: 48px;
    margin-bottom: 32px;
}

.box {
    padding: 48px;
}

.max1100 {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    width: 100%
}

#homeoverlay {
    margin-right: auto;
    max-width: 500px;
    width: 100%;
}

.mainheading {
    color: #d01b1b;
    margin-top: 0px;
    font-weight: 300;
    font-family: NexaBook,Rockwell, Georgia, serif;
    font-size: 64px;
}

#headingbottom {
    margin: 20px 0;
    font-weight: 400;
    font-size: 22px;
}

.showmeal {
    color: #fff;
    background-color: #d01a1a !important;
    text-transform: none;
    text-decoration: none;
    border-color: #d01a1a !important;
}

#howitwork img {
    width: 100%;
}

#howitwork .howitworksheading {
    font-size: 16px;
    margin: 24px 0;
    font-weight: 600;
    text-align: center;
}

#howitwork p {
    padding: 0 24px;
    text-align: center;
}
/*About Us*/
.aboutus p {
    line-height: 32px;
}
/*Recipe archive*/
.card {
    /*padding:0 16px 32px;*/
    max-height: 390px !important;
    overflow: hidden;
}

    .card a {
        text-decoration: none;
    }

.icon {
    width: 16px;
    height: 16px;
    font-size: 1.866666667em;
    max-width: 100%;
    line-height: 0;
    vertical-align: middle;
    display: inline-block;
}

.dietary-tag .dietary-tag__border {
    fill: #cccccc;
}

.dietary-tag .dietary-tag__leaf {
    fill: #cdd83f;
}

/*Recipe detail page*/


.recipedetail figure img {
    width: 100%;
}

.recipedesc {
    padding: 32px;
}

.shortdescription {
    font-size: 19px;
}

.group {
    vertical-align: baseline;
}

.chefimage figcaption {
    font-size: 14px;
}

.recipecontentheader {
    border-width: 0;
    border-bottom-width: 1px;
    /*margin-bottom: 16px !important;*/
    padding-bottom: 8px !important;
    border-color: #a9a9a9;
}

.greenbar {
    margin-bottom: 16px !important;
    border-width: 0;
    border-bottom-width: 4px;
    margin: 0 auto;
    max-width: 50px;
    width: 100%;
    float: left;
    border-color: red;
    border-style: solid;
}

.mealnutrition li:not(:first-child)::before {
    content: "";
    border-bottom: 1px dotted #c0c2b5;
    margin: 8px;
    display: inline-block;
}

.addtocart {
    background-color: #d01b1b !important;
    color: #fff;
    text-transform: none;
    text-decoration: none;
}

.recipedetail .fa {
    padding: 14px;
    /*font-size: 30px;*/
    /*width: 30px;*/
    text-align: center;
    text-decoration: none;
    /*margin: 5px 2px;*/
    border-radius: 50%;
}

/*.recipedetail .share li {
    padding: 2px;
}*/
/* This gets Google to fall into place */
.social {
    font-size: 10px;
}

    /* This gets Facebook to fall into place */
    .social iframe, .social > span {
        vertical-align: middle;
    }

    /* Set an optional width for your button wrappers */
    .social span {
        display: inline-block;
        width: 110px;
    }

    .social .google {
        width: 50px;
    }
/*Cart*/
.table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}
/*Admin pages*/
.editrecipe input:not([type=submit]), .createrecipe input:not([type=submit]) {
    margin-top: 8px;
}

.recipedetail dd, .deleterecipe dd {
    margin: 8px 0;
}


/*Login screen*/
.loginbg {
    background: url(/images/login_bg.png) repeat;
    background-size: 800px 911px;
    /*min-height: 400px;*/
    /*background-color: #f7f7f7;*/
    overflow: auto;
    /*left:-50vw;*/
    /*width: 100vw;*/
    /*margin-left:50%;*/
    padding: 4rem 0;
    background-position: 50% 50%;
    text-align: center;
    /*position: relative;
    overflow-x: hidden;*/
}

/*.loginbg:before {
        left: 50%;
        width: 100%;
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        background: rgba(255,255,255,0.8);
        transform: skew(153deg);
        border-left: 1px solid #cccccc;
    }*/
.vl {
    border-left: 1px solid #b7b7b7;
    height: 500px;
}

.fb-login-button {
    margin-top: 16px;
}

/*.loginbg .heading {
    padding: 20px 0 20px 120px;
}*/
/*Admin index*/
.actions {
    padding-right: 0px !important;
}

    .actions a {
        margin-right: 10px;
    }

        .actions a:last-child {
            margin-right: 0px;
        }

/*Review cart*/
.heading-design-center-h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 30px;
    position: relative;
    text-transform: uppercase;
}

    .heading-design-center-h3::after {
        background: rgba(0, 0, 0, 0) linear-gradient(to right, #007bff 0%, #005ec2 100%) repeat scroll 0 0;
        border-radius: 12px;
        content: "";
        height: 3px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        bottom: -16px;
        width: 49px;
    }

.border-form-control {
    background: #f1f2f7 none repeat scroll 0 0;
    border: 1px solid #e6e7ec;
    border-radius: 2px;
    font-size: 14px;
    line-height: normal;
    font-weight: 600;
}

textarea.border-form-control {
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

.border-form-control::placeholder {
    color: #b9bdc9;
    opacity: 1;
}

.form-control:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.control-label {
    color: #a1a8bb;
    font-weight: 700 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.form-group label {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}
/* Checkout Step */
.checkout-step {
    display: inline-block;
    width: 100%;
}

    .checkout-step ul {
        display: table;
        margin: 0 auto 25px;
        text-align: center;
    }

        .checkout-step ul li {
            color: #ffee00;
            cursor: pointer;
            display: inline-block;
            font-size: 15px;
            margin: 0 -2px;
            text-align: center;
        }

            .checkout-step ul li .step {
                float: left;
                margin-bottom: 10px;
                position: relative;
            }

            .checkout-step ul li a {
                text-decoration: none;
                cursor: default;
            }

            .checkout-step ul li .step .circle {
                background: #007bff none repeat scroll 0 0;
                border-radius: 50%;
                color: #ffffff;
                display: inline-block;
                font-size: 16px;
                font-weight: 500;
                height: 32px;
                left: 50%;
                padding: 5px 11px;
                position: absolute;
                text-align: left;
                transform: translateX(-50%);
                width: 32px;
            }

            .checkout-step ul li .step .line {
                background: #007bff none repeat scroll 0 0;
                float: left;
                height: 7px;
                margin: 12px -1px 12px 0;
                width: 155px;
            }

            .checkout-step ul li:first-child .step .line {
                border-radius: 3px 0 0 3px;
                width: 155px;
            }

            .checkout-step ul li:last-child .step .line {
                background: #868e96 none repeat scroll 0 0;
                border-radius: 0 3px 3px 0;
                width: 155px;
            }

            .checkout-step ul li span {
                color: #007bff;
                display: block;
                line-height: 20px;
                padding: 6px 15px 6px 6px;
            }

            .checkout-step ul li.step-done {
                color: #26537f;
            }

            .checkout-step ul li.active {
                color: #ffee00;
            }

            .checkout-step ul li.step-done .step .circle,
            .checkout-step ul li.step-done .step .line {
                background: #26537f none repeat scroll 0 0;
            }

            .checkout-step ul li.active .step .circle,
            .checkout-step ul li.active .step .line {
                background: #dc3545 none repeat scroll 0 0;
            }

    .checkout-step .active span {
        color: #d01b1b;
    }

    .checkout-step li.active + li .circle,
    .checkout-step li.active + li + li .circle,
    .checkout-step li.active + li + li + li .circle,
    .checkout-step li.active + li .line,
    .checkout-step li.active + li + li .line,
    .checkout-step li.active + li + li + li .line {
        background: #868e96 none repeat scroll 0 0;
    }

    .checkout-step li.active + li span,
    .checkout-step li.active + li + li span,
    .checkout-step li.active + li + li + li span {
        color: #868e96;
    }
/* Widget */
.widget {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(193, 193, 193, 0.62);
    display: inline-block;
    padding: 20px;
    position: relative;
    width: 100%;
}

.widget-header h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin: 0 0 9px;
}

.widget-header small {
    line-height: 2px;
}

.widget-header h1 i {
    background: #007bff;
    background: -moz-linear-gradient(left, #007bff 0%, #005ec2 100%);
    background: -webkit-linear-gradient(left, #007bff 0%, #005ec2 100%);
    background: linear-gradient(to right, #007bff 0%, #005ec2 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#007bff', endColorstr='#005ec2', GradientType=1);
    border-radius: 35px;
    color: #fff;
    display: inline-block;
    height: 40px;
    left: -23px;
    line-height: 38px;
    position: absolute;
    text-align: center;
    top: 26px;
    width: 40px;
}

.trends li a {
    color: #666666;
    display: list-item;
    width: 100%;
    line-height: 34px;
    position: relative;
}

    .trends li a:hover {
        color: #007bff;
    }

        .trends li a:hover::before {
            border-left: 2px solid #007bff;
            bottom: 0;
            content: "";
            left: -20px;
            position: absolute;
            top: 0;
            width: 2px;
        }

.trends li:last-child strong {
    color: #007bff;
}

.trends a i {
    color: #007bff;
    margin: 0 5px 0 0;
}

.trends a:hover .item-numbers {
    background: #4bd98a none repeat scroll 0 0;
}

.item-numbers {
    background: #ccc none repeat scroll 0 0;
    border-radius: 25px;
    color: #fff;
    float: right;
    font-size: 10px;
    font-weight: 700;
    line-height: 18px;
    margin: 8px 0 0;
    min-width: 30px;
    padding: 0 7px;
    text-align: center;
}

.order-done i {
    color: #4bd98a;
    font-size: 102px;
}
/* End Widget */

/*Footer*/
.footer img {
    width: 60px;
    height: 56.5px;
}

.footer ul {
    list-style-type: none;
}

.footer .footerlinks {
    text-align: center;
}

.footerlinks a {
    color: #302e21;
    text-decoration: none;
}

.footer .footerlogo {
    padding: 10px 30px;
}

.content {
    min-height: 400px;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    /*margin-left: -125px;*/ /* Divide value of min-width by 2 */
    background-color: #d01b1b; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    /*display: inline-block;*/
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    /*left: 50%;*/ /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    border-radius: 6px;
}

    /* Show the snackbar when clicking on a button (class added with JavaScript) */
    #snackbar.show {
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
        animation: fadein 0.5s, fadeout 0.5s 4.5s;
    }

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}
/*error messages*/
label.error {
    color: #d01b1b;
}
